@import "./other.css";

:root {
  --main-font-size: 16px;
}

html,
body {
  font-size: var(--main-font-size);
  color: #333;
  background-color: #fff;
}

#app {
  min-height: 100vh;
  width: 100vw;
}

.header {
  text-align: center;
}

.title {
  font-size: calc(var(--main-font-size) * 2);
  color: #333;
  height: calc(100px - 2em);
  margin-bottom: calc(var(--main-font-size) * 1.5);
}

/* precss beigin */
$blue: #056ef0;
$green: #0f0;
$colum: 200px;

.menu {
  width: calc(4 * $colum);
}

.menu_link {
  background-color: $blue;
  width: $colum;
}

.notice--clear {
  @if 3 < 5 {
    background-color: $green;
  }

  @else {
    background-color: $blue;
  }
}

/* Loops */

/* @for $i from 1 to 3 {
  .b-$(i) {
    width: $(i)px;
  }
} */

/* Mixins */

@define-mixin icon $name {
  padding-left: 16px;

  &::after {
    content: "$(name)";
  }
}

.search {
  @mixin icon search;
}

@define-extend bg-blue {
  background-color: $blue;
}

.notice--clear {
  @extend bg-blue;
}


/* precss end */
